Django==5.2.1
gunicorn==20.1.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
cloudinary
whitenoise==6.9.0
python-dotenv==0.19.0
PyPDF2==3.0.1
python-pptx==1.0.2
google-generativeai==0.8.5
django-cloudinary-storage
openai